<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chami.repository.UserRepository">
    <select id="findByAllUser" resultType="UserVo">
        SELECT * FROM t_user
    </select>
    <select id="findByUsername" parameterType="String" resultType="UserVo">
        SELECT * FROM t_user WHERE username = #{username}
    </select>
    <insert id="insertUser" parameterType="UserVo">
        INSERT INTO
            t_user (username,
                    password,
                    name,
                    email,
                    copNm,
                    deptNm,
                    role,
                    use_yn)
        VALUES
            (#{username},
             #{password},
             #{name},
             #{email},
             #{copNm},
             #{deptNm},
             #{role},
             #{use_yn}
            )
    </insert>
    <update id="updateUser" parameterType="UserVo">
        UPDATE t_user SET
            username=#{username}
            ,password=#{password}
            ,name=#{name}
            ,email=#{email}
            ,copNm=#{copNm}
            ,deptNm=#{deptNm}
        WHERE userId = #{userId}
    </update>
</mapper>