<!DOCTYPE html>
<html th:lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>00여행사</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="#">
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <style>
        .col1 {
            width: 250px;
        }

        .col2 {
            display: flex;
            justify-content: left;
        }

        td {
            color: black;
        }

        td input[type='text'] {
            width: 80%;
            text-align: left;
        }

        td input[type='password'] {
            width: 80%;
        }

        td select {
            width: 80%;
        }

        .before-confirm {
            width: 10px;
            height: 10px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: red;
        }

        .after-confirm {
            width: 10px;
            height: 10px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: greenyellow;
        }
    </style>
</head>
<body>
<header th:replace="layout/header :: headerFragment"></header>
<div layout:fragment="content">
    <div id="wrapper">
        <section id="content" class="main">
            <input type="hidden" id="users" th:value="${users}"/>
            <input type="hidden" id="user" th:value="${user}"/>
            <input type="hidden" id="oldEmail" th:value="${user.email}"/>
            <form action="/updateUser" method="post">
                <table class="table01">
                    <caption>
                        <h2>마이페이지 수정</h2>
                    </caption>
                    <tr>
                        <td class="col1">이름</td>
                        <td class="col2"><label for="name"></label><input type="text" id="name" name="name"
                                                                          th:value="${user.name}"
                                                                          maxlength="10"></td>
                    </tr>
                    <tr>
                        <td class="col1">아이디</td>
                        <td class="col2">
                            <input type="text" id="username" name="username" th:value="${user.username}" maxlength="10">
                            <input class="button primary" type="button" value="중복확인"
                                   onclick="idDbCheck($('#username').val())" style="margin-left: 10px;">
                            <div id="id-confirm" class="before-confirm"></div>
                        </td>
                    </tr>
                    <tr rowspan="2">
                        <td class="col1">비밀번호</td>
                        <td class="col2">
                            <input type="password" name="password" th:value="${user.password}" maxlength="16">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>※비밀번호는 <span class="num">문자, 숫자, 특수문자(~!@#$%^&*)의 조합 10 ~ 16자리</span>로 입력이 가능합니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">비밀번호 확인</td>
                        <td class="col2">
                            <input type="password" name="pwdCheck" maxlength="16">
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">이메일</td>
                        <input type="hidden" name="email"/>
                        <td class="col2">
                            <input type="text" id="mailId" name="mailid" style="width: 25%;">
                            <span class="a">@</span>
                            <input type="text" id="email" style="width: 30%;">
                            <select id="mailslc" name="mailslc" style="width: 26%;">
                                <option value="self" selected>직접입력</option>
                                <option value="naver">naver.com</option>
                                <option value="gm">gmail.com</option>
                                <option value="da">kakao.com</option>
                                <option value="yah">daum.com</option>
                            </select>
                            <input class="button primary" type="button" value="중복확인"
                                   onclick="emailDbCheck($('#mailId').val(), $('#email').val(), $('#mailslc option:selected').text())"
                                   style="margin-left: 10px;">
                            <div id="email-confirm" class="before-confirm"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">기업명</td>
                        <td class="col2"><input type="text" name="copNm" th:value="${user.copNm}"></td>
                    </tr>
                    <tr>
                        <td class="col1">부서명</td>
                        <td class="col2"><input type="text" name="deptNm" th:value="${user.deptNm}"></td>
                    </tr>
                </table>
                <div style="display: flex; justify-content: center;">
                    <input class="button primary" type="submit" value="수정완료" onclick="return formCheck(this.form)">
                    <input class="button warn" type="button" value="돌아가기" onclick="history.back()">
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    // usersList 변수를 JSON 형식으로 파싱하여 저장
    const usersList = JSON.parse($('#users').val() || '[]');

    let emailConfirmed = false;
    let idConfirmed = false;

    function emailDbCheck(mailid, email, mailslc) {
        let newEmail;
        if (mailslc === 'self' && email) { // 직접 입력한 경우
            newEmail = `${mailid}@${email}`;
        } else if (mailslc !== 'self' && !email) { // 선택한 도메인인 경우
            newEmail = `${mailid}@${mailslc}`;
        } else {
            alert('이메일을 입력하세요.');
            updateConfirmationStatus('#email-confirm', false);
            $('#mailId').focus();
            emailConfirmed = false;
            return;
        }

        const emailExists = usersList.some(user => user.email === newEmail);

        if (emailExists) {
            alert('이미 존재하는 이메일입니다.');
            updateConfirmationStatus('#email-confirm', false);
            $('#mailId').focus();
            emailConfirmed = false;
        } else {
            alert('사용 가능한 이메일입니다.');
            $('input[name=email]').val(newEmail); // 폼에 이메일 값을 설정
            updateConfirmationStatus('#email-confirm', true);
            emailConfirmed = true;
        }
    }

    function idDbCheck(username) {
        if (!username) {
            alert('아이디를 입력하세요.');
            updateConfirmationStatus('#id-confirm', false);
            idConfirmed = false;
            return;
        }

        const idExists = usersList.some(user => user.username === username);

        if (idExists) {
            alert('이미 존재하는 아이디입니다.');
            updateConfirmationStatus('#id-confirm', false);
            $('#username').focus();
            idConfirmed = false;
        } else {
            alert('사용 가능한 아이디입니다.');
            updateConfirmationStatus('#id-confirm', true);
            idConfirmed = true;
        }
    }

    function formCheck(form) {
        const pwdRegex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{10,16}$/;

        if (!form.name.value) {
            alert('이름을 입력하세요.');
            form.name.focus();
            return false;
        }
        if (!form.username.value) {
            alert('아이디를 입력하세요.');
            form.username.focus();
            return false;
        }
        if (!idConfirmed) {
            alert('아이디 중복 확인을 해주세요.');
            return false;
        }
        if (!form.password.value) {
            alert('비밀번호를 입력하세요.');
            form.password.focus();
            return false;
        }
        if (!pwdRegex.test(form.password.value)) {
            alert('비밀번호는 문자, 숫자, 특수문자(~!@#$%^&*)의 조합 10 ~ 16자리로 입력이 가능합니다.');
            form.password.focus();
            return false;
        }
        if (!form.pwdCheck.value) {
            alert('비밀번호 확인을 입력하세요.');
            form.pwdCheck.focus();
            return false;
        }
        if (form.password.value !== form.pwdCheck.value) {
            alert('비밀번호가 일치하지 않습니다.');
            form.pwdCheck.focus();
            return false;
        }
        if (!form.mailid.value) {
            alert('e-mail을 입력하세요.');
            form.mailid.focus();
            return false;
        }
        if (!form.email.value && form.mailslc.selectedIndex === 0) {
            alert('e-mail을 입력하세요.');
            form.mailslc.focus();
            return false;
        }
        if (!emailConfirmed) {
            alert('이메일 중복 확인을 해주세요.');
            return false;
        }

        const formData = new FormData(form);
        const csrfToken = document.querySelector('input[name="_csrf"]').value;
        formData.append('_csrf', csrfToken);

        fetch(form.action, {
            method: form.method,
            body: formData,
            headers: {
                'X-CSRF-TOKEN': csrfToken
            }
        })
            .then(response => {
                if (response.ok) {
                    alert("회원가입이 완료되었습니다.");
                    window.location.href = "/";
                } else {
                    alert("오류가 발생했습니다.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("오류가 발생했습니다.");
            });

        return false;
    }

    function updateConfirmationStatus(selector, confirmed) {
        const element = $(selector);
        if (confirmed) {
            element.removeClass('before-confirm').addClass('after-confirm');
        } else {
            element.removeClass('after-confirm').addClass('before-confirm');
        }
    }

    function splitEmail(email) {
        // 이메일을 '@' 기준으로 분할
        const emailParts = email.split('@');
        if (emailParts.length !== 2) {
            alert('유효하지 않은 이메일 형식입니다.');
            return;
        }

        const mailid = emailParts[0];
        const domain = emailParts[1];
        const domainSelect = $('#mailslc');

        // 이메일 아이디 설정
        $('#mailId').val(mailid);

        // 이메일 도메인 설정
        let domainFound = false;
        domainSelect.find('option').each(function () {
            if ($(this).text() === domain) {
                $(this).prop('selected', true);
                $('#email').val('');
                domainFound = true;
                return false; // 반복 종료
            }
        })
        // 도메인이 선택 옵션에 없는 경우
        if (!domainFound) {
            domainSelect.val('self'); // '직접 입력' 옵션 선택
            $('#email').val(domain);
        }
    }

    $(document).ready(function () {
        const existingEmail = $('#oldEmail').val(); // 예제 이메일, 실제로는 VO에서 가져와야 함
        splitEmail(existingEmail);
    });

</script>
</body>
</html>
